<!--<p>Usuario</p>
<input type="text" name="" [value]="valorInput">
<p>Contraseña</p>
<input type="text" name="">
<hr>
<button (click)="logeandoUsuario()">Enviar</button>
<button (click)="AsignarNombreInput()">Asignar Nombre</button>
<br>
{{status}}
-->
  <!-- Image and text -->
  <!--
<nav class="navbar navbar-light bg-dark ">
  <a class="navbar-brand text-white" href="#">
    <img src="assets/archivos/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
    VIDANTA
  </a>
</nav>
-->

<div class="col-md-9 "> <!-- container-->
	<div class="abs-center"> <!-- container-->

     
     
	<div class="card shadow login  ">
		  <h5 class="card-header">Iniciar Sesion</h5>
		  <div class="card-body">
			   <form (ngSubmit)="logeando()">
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">No. colaborador</label>
			            <input [(ngModel)]="user" name="user" type="email" value="" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>

					<div class="mb-3">
						<label for="exampleInputPassword1"  class="form-label">Contraseña</label>
			            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1">
					</div>

					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
			            <label class="form-check-label" for="exampleCheck1">Recordarme</label>	
					</div>
					<button (click)="login()" type="submit" class="btn btn-primary btn-block">Iniciar session</button>
				</form>
		  </div>
		</div>
		

    </div>
</div>



