<div class="container">
<div class="card">
  <h5 class="card-header">Resguardos Bajas</h5>
  <div class="card-body">
    <form>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="deleteArticulosConfirm()" type="button" class="btn btn-danger">Eliminar</button>
          <button type="button"class="btn btn-success">Actualizar</button>
          <select name="filtro" [(ngModel)]="filtro" class="form-control">
            <option disabled selected value>Filtrar</option>
            <option value="fecha">Feha</option>
            <option value="id_resguardo">id resguardo</option>
            <option value="no_colaborador">Numero colaborador</option>
            
          </select>
          
        </div>
        <h2>{{search}}</h2>
          
        <div class="input-group mb-3">
            <input type="text" name="search" [(ngModel)]="search"  class="form-control" placeholder="Buscar articulo" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button (click)=searchArticulos() class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
  

      
    </form>

      <div class="table-responsive-sm">
          <table class="table table table-hover">
            <thead class="">
            <tr class="bg-primary text-white">
              <th  scope="col">#</th>
              <th scope="col">No. colaborador</th>
              <th scope="col">fecha</th>
              <th scope="col">hora</th>
              <th scope="col">observaciones</th>
              <th scope="col">Documento</th>
              
            </tr>
          </thead>
          <tbody *ngFor="let articulo of articulos ">
            
            <tr tabindex="0"  (click)="deleteArticulos(articulo.id_articulo)"  *ngIf="articulo.estado=='bajas'"  >
              <th class="focus" scope="row">{{articulo.id_resguardo}}</th>
              <td>{{articulo.no_colaborador}}</td>
              <td>{{articulo.fecha}}</td>
              <td>{{articulo.hora}}</td>
              <td>{{articulo.observaciones}}</td>
              <td><a href="http://192.168.1.75/api/pdf/pdfResguardo.php/?id={{articulo.id_resguardo}}" target="_blank">Imprimir</a></td>
            
             
            </tr>
           
          </tbody>
          </table>
    </div>


  </div>
</div>
</div>