<div class="container">
<div class="card">
  <h5 class="card-header">Inventario</h5>
  <div class="card-body">
    <form>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="deleteArticulosConfirm()" type="button" class="btn btn-danger">Eliminar</button>
          <button type="button"(click)="editInventario()" class="btn btn-success">Actualizar</button>
          <select name="filtro" [(ngModel)]="filtro" class="form-control">
            <option disabled selected value>Filtrar</option>
            <option value="descripcion">descripcion</option>
            <option value="marca">marca</option>
            <option value="modelo">modelo</option>
          </select>
          
        </div>
        <h2>{{search}}</h2>
          
        <div class="input-group mb-3">
            <input type="text" name="search" [(ngModel)]="search"  class="form-control" placeholder="Buscar articulo" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button (click)=searchArticulos() class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
  

      
    </form>

      <div class="table-responsive-sm">
          <table class="table table table-hover">
            <thead class="">
            <tr class="bg-primary text-white">
              <th  scope="col">#</th>
              <th scope="col">imgen</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Categoria</th>
              <th scope="col">serie</th>
              <th scope="col">No.inventario</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Localizacion</th>
            </tr>
          </thead>
          <tbody>

            <tr tabindex="0" (click)="deleteArticulos(articulo.id_articulo)" *ngFor="let articulo of articulos ">
              <th class="focus" scope="row">{{articulo.id_articulo}}</th>
              <td><img class="focus"  src="{{articulo.imagen}}" height="50" width="50" ></td>
              <td>{{articulo.descripcion}}</td>
              <td>{{articulo.marca}}</td>
              <td>{{articulo.modelo}}</td>
              <td>{{articulo.categoria}}</td>
              <td>{{articulo.no_serie}}</td>
              <td>{{articulo.no_inventario}}</td>
              <td>{{articulo.cantidad}}</td>
              <td>{{articulo.localizacion}}</td>
             
            </tr>
           
          </tbody>
          </table>
    </div>


  </div>
</div>
</div>