<div class="container">
<div *ngIf="contenido" class="card">
  <h5 class="card-header">Inventario</h5>
  <div class="card-body">
    <form>
      <div class="btn-group" role="group" aria-label="Basic example">
          <button (click)="deleteArticulosConfirm()" type="button" class="btn btn-danger"><img src="assets/icons2/trash.svg"></button>
          <button type="button"(click)="edit()" class="btn btn-success"><img src="assets/icons2/pencil-square.svg"></button>
          <select name="filtro" [(ngModel)]="filtro" class="form-control">
            <option disabled selected value>Filtrar</option>
            <option value="descripcion">descripcion</option>
            <option value="marca">marca</option>
            <option value="modelo">modelo</option>
          </select>
          
        </div>
        <h2>{{search}}</h2>
          
        <div class="input-group mb-3">
            <input type="text" name="search" [(ngModel)]="search"  class="form-control" placeholder="Buscar articulo" aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button (click)=searchArticulos() class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>
        </div>
  

      
    </form>

      <div class="table-responsive-sm">
          <table class="table table table-hover">
            <thead class="">
            <tr class="bg-info text-white">
              <th  scope="col">#</th>
              <th scope="col">imgen</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Estado</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Categoria</th>
              <th scope="col">serie</th>
              <th scope="col">No.inventario</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Localizacion</th>
            </tr>
          </thead>
          <tbody>

            <tr tabindex="0" (click)="deleteArticulos(articulo.id_articulo,articulo.estado,articulo.descripcion,articulo.marca,articulo.modelo,articulo.categoria,articulo.no_serie,articulo.no_inventario,articulo.cantidad,articulo.localizacion,articulo.imagen)" *ngFor="let articulo of articulos ">
              <th class="focus" scope="row">{{articulo.id_articulo}}</th>
              <td><img class="focus"  src="http://localhost/api/archivos/articulos/{{articulo.imagen}}" height="50" width="50" ></td>
              <td>{{articulo.descripcion}}</td>
              <td  *ngIf="articulo.estado=='activo'">
                <label class="activo">{{articulo.estado}}</label>
              </td>

              <td  *ngIf="articulo.estado=='inactivo'">
                <label class="resguardo" >{{articulo.estado}}</label>
              </td>
              <td>{{articulo.marca}}</td>
              <td>{{articulo.modelo}}</td>
              <td>{{articulo.categoria}}</td>
              <td>{{articulo.no_serie}}</td>
              <td>{{articulo.no_inventario}}</td>
              <td>{{articulo.cantidad}}</td>
              <td>{{articulo.localizacion}}</td>
             
            </tr>
           
          </tbody>
          </table>
    </div>


  </div>
</div>
<div class="container">
  <button *ngIf="editArticulo" (click)="atras()" class="btn btn-dark">Atras</button>
</div>

<app-form-editar-inventario [editar]=Editar *ngIf="editArticulo"></app-form-editar-inventario>

</div>