<div class="container">
	<div class="card">
         <div class="card-header">
            <h4>Registro de nuevo usuario </h4>
          </div>
         <div class="card-body">
				 <form   (ngSubmit)="submit()">
                     <h5>Datos personales</h5>
					 <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Numero de colaborador</span>
						  </div>
						  <input type="text" class="form-control"  aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Nombres</span>
						  </div>
						  <input type="text" class="form-control" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Apellido paterno</span>
						  </div>
						  <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Apellido materno</span>
						  </div>
						  <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Puesto/Cargo</span>
						  </div>
						  <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Departamento</span>
						  </div>
						  <select class="form-control">
							<option disabled selected value="">Seleccione un departamento</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
                      </div>
                      
                      <h5>Cuenta</h5>

                      <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Correo</span>
						  </div>
						  <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Nombre de usuario</span>
						  </div>
						  <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Contraseña</span>
						  </div>
						  <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

					
                        <div class="input-group mb-3">
                        	<button type="submit" class="btn btn-sm btn-info ">Registrar</button>
						<button type="reset" class="btn btn-sm registrar  ">Cabelar</button>
                        </div>
						
						
				 </form>
				 
          </div>
     </div>
</div>
