<div class="container">
	<div class="card">
         <div class="card-header">
            <h4>Registrar nuevo articulo </h4>
          </div>
         <div class="card-body">
				 <form [formGroup]="articulosRegistrar" (ngSubmit)="newArticulo(articulosRegistrar.value)" >
                     <h5>
                        	{{articuloGuardado}}
                        </h5>
					 <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Categoria</span>
						  </div>
						  <input type="text" formControlName="categoria" class="form-control"  aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Marca</span>
						  </div>
						  <input type="text" formControlName="marca" class="form-control" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Modelo</span>
						  </div>
						  <input type="text" formControlName="modelo" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">No: serie</span>
						  </div>
						  <input type="text" formControlName="serie" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">No: inventario</span>
						  </div>
						  <input type="text" formControlName="inventario" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                      

                      <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Cantidad</span>
						  </div>
						  <input type="text" formControlName="cantidad" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Descripcion</span>
						  </div>
						  <input type="text" formControlName="descripcion" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                      <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Localizacion</span>
						  </div>
						  <input type="text" formControlName="localizacion" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>

                       <div class="input-group mb-3">
						  <div class="input-group-prepend">
						    <span class="input-group-text" id="basic-addon1">Imagen</span>
						  </div>
						  <!--<input type="file" formControlName="" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">-->
						  <input type="text"  formControlName="imagen" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
						 
                      </div>

					
                        <div class="input-group mb-3">
                        	<button [disabled]="articulosRegistrar.invalid" type="submit" class="btn btn-sm btn-info ">Registrar</button>
						<button type="reset" class="btn btn-sm registrar  ">Cabelar</button>
                        </div>
                        
						
						
				 </form>
				 
          </div>
     </div>
</div>


